@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

$text-color: #262626;

$orange: #ff6033;
$grey: #5585a2;
$green: #96b92c;
$red: #f72b3b;

$shadow: 1px 2px 8px 0 rgba(0,0,0,0.6);